# Python
__pycache__
*.pyc
*.egg-info
dist

# Log
*.log
*.log.*
#*.json
#*.jsonl
*.png
*.webp
*.jpeg

# Data
!**/alpaca-data-conversation.json
sampled_scenes
scenes
data

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output

checkpoints
ckpts*

.ipynb_checkpoints
*.ipynb

# DevContainer
!.devcontainer/*

# Demo
serve_images/
